@media (max-width: 950px) {
    .carousel_item_top {
        flex: 0 0 25%;
    }
}

@media (max-width: 768px) {

    .check_form {
        display: none;
        margin-bottom: 7px;
    }

    .login_block {
        display: none;
    }

    .header_right_bottom_block {
        display: none;
    }

    .header_right_top_block {
        justify-content: center;
        flex-wrap: wrap;
    }

    .login_block {
        margin-bottom: 7px;
    }

    .cart {
        margin-bottom: 7px;
    }

    .header_right_bottom_block {
        flex-wrap: wrap;
        justify-content: center;
    }

    .burger_menu__wrapper {
        display: flex;
    }

    .menu_aside_mobile {
        display: flex;
    }

    aside {
        position: fixed;
        top: 195px;
        height: 100%;
        transform: translateX(-120%);
        transition: all .3s;
        max-height: 500px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 2px solid rgba(0, 0, 0, 1);
        border-right: none;
        box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.5);
    }

    .stocks_item {
        padding: 25px 20px;
    }

    .menu_aside_mobile_btn {
        display: block;
    }

    .carousel_item_top {
        flex: 0 0 33.33%;
    }

    .footer_bottom__wrapper {
        align-items: center;
        flex-direction: column;
    }

    .sitemap {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .search_block {
        margin-bottom: 5px;
    }

    .categories_menu {
        display: none;
    }

    .mobile_menu ul li:first-child {
        display: block;
    }

    .header_right_top_block {
        flex-wrap: wrap;

    }

    .item_top {
        min-width: 290px;
    }

    .carousel_item_top {
        flex: 0 0 50%;
    }
}

@media (max-width: 400px) {
    .carousel_item_top {
        flex: 0 0 100%;
    }
}
