*, :before, :after {
    box-sizing: border-box;
}

@font-face {
    font-family: "AvenirBlack";
    src: url("../fonts/Avenir-Black/Avenir-Black.woff2") format("woff2"),
    url("../fonts/Avenir-Black/Avenir-Black.woff") format("woff"),
    url("../fonts/Avenir-Black/Avenir-Black.ttf") format("truetype");
}

h2 {
    font-size: calc(15px + 1.3vw);
    max-width: 320px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 5px;
}

h3 {
    font-size: calc(15px + .88vw);
    max-width: 305px;
    margin-bottom: 15px;
}

h4 {
    font-size: calc(15px + .47vw);
    max-width: 190px;
    margin-bottom: 13px;
}

h6 {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.45;
    text-overflow: ellipsis;
    height: 40px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

body {
    display: flex;
    flex-direction: column;
    font-family: "AvenirBlack", sans-serif;
    font-size: 14px;
}

@keyframes buttonani {
    from {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-5px);
    }
    to {
        transform: translateX(5px);
    }
}

.button {
    transition: all .25s;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 1141px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    order: 1;
    min-height: 89px;
    background-color: rgba(255, 198, 0, 1);
    margin-bottom: calc(20px + 1.56vw);
    z-index: 2;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header_left__wrapper {
    display: flex;
    justify-content: space-between;
}

.logo_block {
    margin-right: calc(15px + 4.9vw) /*109px*/;
    min-width: 51px;
    min-height: 80px;
}

.logo_block img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.header_right_top_block_item:not(:last-child) {
    margin-right: 5px;
}

.header_right__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding-top: 7px;
}

.header_right_top_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.categories_menu {
    height: 40px;
}

.categories_menu a {
    color: rgba(255, 255, 255, 1);
}

#open {
    display: none;
}

.dropdown {
    display: flex;
    min-width: 148px;
    height: 40px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    align-items: center;
    padding: 0 9px;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 3px;
    position: relative;
    margin-right: 10px;
}

.dropdown:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dropdown:after {
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    transition: all .2s;
}

.dropdown:hover, .dropdown_menu li:hover {
    background-color: rgba(0, 0, 0, .9);
}

.dropdown_menu {
    display: flex;
    opacity: 0;
    transform: scale(0.75) translateY(-150%);
    position: absolute;
    flex-direction: column;
    transition: all 0.25s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;

}

.dropdown_menu li {
    display: flex;
    align-items: center;
    width: 148px;
    height: 40px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    padding: 0 9px;
    cursor: pointer;
}

.dropdown_menu li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#open:checked ~ .dropdown:before {
    display: none;
}

#open:checked ~ .dropdown:after {

    transform: rotate(-135deg);
}

#open:checked ~ .dropdown_menu {
    opacity: 1;
    transform: scale(1) translateY(0);
}

#open:checked ~ .dropdown {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#open:checked ~ .dropdown_menu li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search_block {
    height: 40px;
    flex: 1 1 50%;
    min-width: 160px;
    max-width: 507px;
    position: relative;
    margin-bottom: 5px;

}

.search_block_field {
    width: 100%;
    height: 100%;
    padding: 0 9px;
    border: none;
    border-radius: 3px;
    font-family: "AvenirBlack", sans-serif;
    font-size: 14px;
    outline: none;
}

.search_block_field[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.search_block_field[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

.search_block_field[type="search"]::-webkit-search-decoration,
.search_block_field[type="search"]::-webkit-search-cancel-button,
.search_block_field[type="search"]::-webkit-search-results-button,
.search_block_field[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.search_button {
    position: absolute;
    right: 9px;
    top: calc(50% - 6px);
    width: 13px;
    height: 13px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    background-image: url("../img/searchImg.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    outline: none;
}

#btw {
    display: none;
}

.check_form {
    width: 81px;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;

}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.check span {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.check span:last-child:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 3px;
}

#btw:checked ~ .check span:last-child:after {
    display: none;
}

#btw:checked ~ .check span:first-child:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 3px;
}

.login_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    height: 40px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.login_img{
    margin-right: 5px;
}

.login_block_img img {
    width: 11px;
    height: 13px;
    object-fit: cover;

}

.login_block span {
    font-size: 14px;
    font-family: "AvenirBlack", sans-serif;
}

.cart {
    border: none;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 3px;
    width: 84px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    position: relative;
}

.cart img {
    width: 23px;
    height: 19px;
    object-fit: cover;
    margin-right: 8px;
}

.cart span {
    margin-bottom: 7px;
}

.cart:after {
    content: "";
    position: absolute;
    top: calc(50% + 3px);
    right: 26%;
    border: 1px solid rgba(255, 255, 255, 1);
    height: 7px;
    width: 7px;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
}

.burger_menu__wrapper {
    height: 40px;
    align-items: center;
    display: none;
}

#burger_btn {
    display: none;
}

#burger_btn:checked ~ .burger_menu_btn span {
    width: 0;
}

#burger_btn:checked ~ .burger_menu_btn span:before {
    transform: rotate(45deg) translate(10px, 5px);
}

#burger_btn:checked ~ .burger_menu_btn span:after {
    transform: rotate(-45deg) translate(10px, -5px);
}

.burger_menu_btn {
    border: none;
    background-color: transparent;
    height: 25px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.burger_menu_btn span {
    height: 3px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    transition: all .25s;
}

.burger_menu_btn span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    transition: all .25s;
}

.burger_menu_btn span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    transition: all .25s;
}

.mobile_menu {
    border-top: 2px solid rgba(0, 0, 0, 1);
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 200px;
    min-height: 350px;
    background-color: rgba(255, 198, 0, 1);
    position: absolute;
    top: 104px;
    right: 0;
    opacity: 0;
    transform: scale(0.75) translateY(-150%);
    transition: all 0.25s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    box-shadow: -5px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

.mobile_menu nav {
    height: 100%;
}

.mobile_menu ul {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 15px;
    display: none;
}

.mobile_menu ul img {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.mobile_menu ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform .25s;
}

.mobile_menu ul li:hover {
    transform: scale(1.1);
}


.mobile_menu ul li:first-child {
    display: none;
}

.mobile_menu ul li:not(:last-child) {
    margin-bottom: 50px;
}

#mobile_btw_input {
    display: none;
}

.mobile_check {
    cursor: pointer;
}

.mobile_check span:last-child {
    text-decoration: line-through;
}

#mobile_btw_input:checked ~ .mobile_check span:first-child {
    text-decoration: line-through;
}

#mobile_btw_input:checked ~ .mobile_check span:last-child {
    text-decoration: none;
}

#burger_btn:checked ~ .mobile_menu {
    opacity: 1;
    transform: translateY(0);
}

#burger_btn:checked ~ .mobile_menu ul {
    display: flex;
}

.header_right_bottom_block {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header_right_bottom_block a {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_right_bottom_block a:not(:last-child) {
    margin-right: 25px;
}

.header_right_bottom_block a span {
    text-align: center;
}

.header_right_bottom_block img {
    min-height: 12px;
    min-width: 14px;
    object-fit: contain;
    margin-right: 10px;
}

.item_right_bottom_block {
    margin-bottom: 5px;
}


main {
    position: relative;
    order: 2;
}

.section_one {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(20px + 1.56vw);
}

aside {
    background-color: rgba(255, 255, 255, 1);
    padding: 15px;
    z-index: 2;
    transition: all .25s;
    flex: 1 1 25%;
}

.menu_aside_mobile_btn {
    position: fixed;
    left: -30px;
    top: 130px;
    height: 40px;
    width: 100px;
    transform: rotate(90deg);
    border: none;
    background-color: rgba(0, 0, 0, .7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    z-index: 1;
    text-align: center;
    padding-top: 10px;
    display: none;
}

.menu_aside_mobile_btn img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

#menu_aside_mobile_input, #menu_aside_mobile_close_input {
    display: none;
}

#menu_aside_mobile_input:checked ~ aside {
    transform: translateX(-10%);
}

aside nav {
    height: 100%;
}

.menu_aside {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu_aside li {
    margin-right: 7px;
    border: 1px solid transparent;
    width: 100%;
}

.menu_aside li:hover {
    animation: buttonani 0.25s steps(22) forwards;
}

.block_stocks {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 70%;
}

.block_stocks_first_line {
    display: flex;
    flex-wrap: wrap;
}

.item_top {
    flex: 1 1 50%;
    padding: 3px;
    min-width: 350px;
}

.stocks_item {
    display: flex;
    justify-content: center;
    background-color: rgba(170, 170, 170, .1);;
    padding: 65px 50px;
    height: 100%;
    width: 100%;
    border-radius: 3px;

}

.stocks_item_info {
    margin-bottom: 30px;
}

.item_top.first .stocks_item {
    padding: 35px 30px;
}

.item_top.second .stocks_item {
    padding: 20px 20px 40px 20px;
}

.second {
    display: flex;
    justify-content: center;
    min-width: 220px;
    flex: 1 1 20%;

}

.work_time__wrapper {
    display: flex;
    justify-content: space-between;
    font-size: calc(12px + .1vw);
    line-height: 1.3;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}

.work_time__wrapper > span, .opening_hours {
    margin-bottom: calc(5px + .78vw);
}

.work_time__wrapper > span {
    padding-left: calc(5px + .78vw);
}

.work_time__wrapper img {
    margin-right: 10px;
}

.hours__wrapper {
    display: flex;
    justify-content: space-around;
}

.hours_item {
    display: flex;
    flex-direction: column;
}

.block_stocks button {
    min-height: 41px;
    min-width: 78px;
    border: none;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: "AvenirBlack", sans-serif;
}

.stocks_item_image {
    max-height: 145px;
    max-width: 136px;
}

.stocks_item_image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.section_two {
    margin-bottom: 40px;
}

.carousel {
    background-color: rgba(170, 170, 170, .1);
}

.headline_carousel {
    padding: 25px 20px;
    border-bottom: 1px solid rgba(170, 170, 170, .2);
}

.headline_carousel h3 {
    margin-bottom: 0;
    max-width: 100%;
}

.main_carousel {
    position: relative;
}

.carousel_block {
    overflow: hidden;
    position: relative;
    z-index: 1;
    min-height: 278px;
}

.carousel__wrapper {
    display: flex;
    position: relative;
    left: 0;
    transition: left .25s, right .25s;

}

.carousel_item_top:not(:last-child) {
    border-right: 1px solid rgba(170, 170, 170, .2);
}

.carousel_item_top {
    flex: 0 0 20%;
    user-select: none;
}

.carousel_item_top.active{
    border: 2px solid rgba(255, 198, 0, 1);
}

.carousel_item {
    display: flex;
    flex-direction: column;
    padding: 40px 25px 20px 25px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: transform .25s, box-shadow .25s;
    user-select: none;

}

.carousel_item:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.carousel_item_image {
    height: 81px;
    width: 117px;
    margin-bottom: 45px;
    user-select: none;
}

.carousel_item_image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    pointer-events: none;
}

.carousel_item span {
    font-size: calc(30px + .52vw);
    font-family: "AvenirBlack", sans-serif;
}

.carousel_left_arrow, .carousel_right_arrow {
    position: absolute;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 198, 0, 1);
    cursor: pointer;
    outline: none;
    z-index: 5;
    transition: transform .25s,  box-shadow .25s;
}




.carousel_left_arrow {
    top: calc(50% - 17px);
    left: -15px;

}

.carousel_right_arrow {
    top: calc(50% - 17px);
    right: -15px;

}

.carousel_left_arrow:after, .carousel_right_arrow:after {
    content: "";
    position: absolute;
    top: 30%;
    height: 15px;
    width: 15px;
    transition: all .15s;
    border-right: 5px solid rgba(255, 255, 255, 1);
    border-bottom: 5px solid rgba(255, 255, 255, 1);
}

.carousel_left_arrow:after {
    left: 35%;
    transform: rotate(135deg);
}

.carousel_right_arrow:after {
    left: 25%;
    transform: rotate(-45deg);
}

.carousel_left_arrow:hover.carousel_left_arrow:after{
    left: 25%;
}
.carousel_right_arrow:hover.carousel_right_arrow:after{
    left: 35%;
}


.carousel_left_arrow:active, .carousel_right_arrow:active {
    transform: scale(.9);
}

.section_three {
    margin-bottom: 40px;
    height: 100%;
    width: 100%;
}

.block_service {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.item_service {
    margin: 0 3px 7px 3px;
    flex: 1 1 350px;
    max-width: 552px;
    min-height: 224px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 3px;

}

.item_service:first-child, .item_service:last-child {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item_service:first-child {
    background-image: url("../img/NightDelivery1.png");
}

.item_service:last-child {
    background-image: url("../img/NightDelivery2.png");
}

.item_service span {
    color: rgba(255, 255, 255, 1);
}


footer {
    order: 3;
}

footer a {
    line-height: 1.45;
}

.footer_top {
    width: 100%;
    background-color: rgba(170, 170, 170, .1);
    display: flex;
    padding: 45px 0;
}

.footer_top__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_top_item {
    max-width: 250px;

}

.footer_top_item:not(:first-child) {
    margin: 0 calc(15px + 1.5vw) 20px calc(15px + 1.5vw);
}

.footer_top_item:first-child {
    margin-right: auto;
}

.footer_top_item input, .footer_top_item button {
    font-family: "AvenirBlack", sans-serif;
    width: 100%;
    border: none;
    min-height: 40px;
    outline: none;
    border-radius: 3px;
}


.footer_top_item input {
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 7px;
}

.footer_top_item button {
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    position: relative;
}


.line_first_footer_logo {
    margin-bottom: 20px;
}

.line_first_footer_logo a {
    width: 100%;
    max-height: 50px;
    display: block;

}

.line_first_footer_logo a img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.line_second_footer_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line_second_footer_logo a:first-child {
    width: 125px;
    height: 30px;
}

.line_second_footer_logo a:first-child img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.line_second_footer_logo a:last-child {
    width: 55px;
    height: 55px;
}

.line_second_footer_logo a:last-child img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.footer_bottom {
    padding: 12px 0;
}

.footer_bottom__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sitemap {
    display: flex;
    align-items: center;
}

.sitemap li {
    padding: 0 5px;
    font-size: calc(12px + .2vw);
}

.sitemap li:not(:last-child) {
    border-right: 2px solid rgba(0, 0, 0, 1);
}

.rating {
    display: flex;
}

.rating p {
    font-family: "AvenirBlack", sans-serif;
    font-size: 14px;
}

.rating p:first-child {
    margin-right: 10px;
    color: rgba(255, 198, 0, 1);
}